Source: easy-login 
Section: utils
Priority: optional
Maintainer: LliureX Team <lliurex@gva.es> 
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 llxsrchelper,
 zero-dev,
 python3-poinstaller
Standards-Version: 4.6.2
Homepage: https://portal.edu.gva.es/lliurex/va
#Vcs-Browser: https://salsa.debian.org/debian/prueba
Vcs-Git: https://github.com/lliurex/easy-login 

Package: easy-login-gui
Architecture: all
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 python3,
 n4d-qt-agent,
 python3-n4d-client,
 python3-reportlab,
 qml-module-termwidget,
 pyside6-tools,
 python3-pyside6.qtqml,
 python3-pyside6.qtquick,
 python3-pyside6.qtgui,
 python3-pyside6.qtwidgets,
 python3-pyside6.qtquickwidgets,
 python3-pyside6.qtsvg
Description: Easy-Login utility
 <Provides utiliy to manage easy-long>

Package: easy-login
Architecture: all
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: <insert up to 60 chars description>
 <Insert long description, indented with spaces.>
