[Desktop Entry]
Categories=LliureX-Administration
Comment[es_ES]=It allows you to manage access to the equipment using Easy-Login
Comment=It allows you to manage access to the equipment using Easy-Login
Encoding=UTF-8
Exec=/usr/sbin/easy-login-gui
GenericName[es_ES]=easy-login-gui
GenericName=easy-login-gui
Icon=easy-login
MimeType=
Name[es_ES]=Permite gestionar el acceso a los equipos mediante Easy-Login
Name=Permite gestionar el acceso a los equipos mediante Easy-Login
Name[ca@valencia]=Permet gestionar l'accés als equips mitjançant Easy-Login
Name[ca]=Permet gestionar l'accés als equips mitjançant Easy-Login
Name[ca_ES@valencia]=Permet gestionar l'accés als equips mitjançant Easy-Login
NoDisplay=true
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
